<div class="widget">
  <div class="label">
    <%= label %>
  </div>
  <div class="tip">
    <%= tip %>
  </div>
  <div class="element">
    <%= element %>
  </div>
  <div class="errors">
    <%= errors %>
  </div>
</div>